* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("Quiz_HTML/blob/main/assets/fundo.jpg");
    color: bisque;
    font-size: 25px;
}

h1 {
    font-size: 35px;
    padding-top: 20px;
}

.containerMain {
    text-align: center;
}

.container {
    margin-left: 500px;
    border: 5px solid rgb(51, 226, 232);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    display: none;
}

button {
    margin-top: 10px;
}

.bannerTop img {
    margin-left: 700px;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

.musica {
    margin-left: 800px;

}
